.countryDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.countryDetailsImage {
  width: 100%;
  height: auto;
  min-width: 13em;
  align-self: start;
  flex: 1 1 0;
}

.countryDetailsInfo {
  display: flex;
  flex-direction: column;
  gap: 2em;
  line-height: 1.5rem;
  padding-block: 2em;
  flex: 1 1 0;
  min-width: 13em;
}

.countryDetailsInfoList {
  column-count: 2;
  column-gap: 2em;
}

.countryDetailsInfoList span {
  font-weight: 600;
}

@media only screen and (max-width: 64em) {
  .countryDetailsInfoList {
    column-count: unset;
    column-gap: unset;
  }
}

.borderCountries {
  display: flex;
  gap: 0.5em;
  align-items: center;
  flex-wrap: wrap;
}

.borderCountries h3 {
  font-size: 1rem;
}

.borderCountries ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.borderCountries li {
  position: relative;
  width: 8rem;
  padding-block: 1.5em;
  background-color: var(--elements);
}

.borderCountries li a {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.backButton {
  margin-block: 3rem;
  padding-block: 0.8em;
  padding-inline: 2.2em;
  background-color: var(--elements);
  border-radius: var(--app-border-radius);
}
