.countryList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.25rem, 1fr));
  gap: 4em;
}

.countryCard {
  background-color: var(--elements);
  border-radius: var(--app-border-radius);
}

.countryCardImageContainer {
  position: relative;
  min-height: 12em;
}

.countryCardImage {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: var(--app-border-radius);
  border-top-right-radius: var(--app-border-radius);
}

.countryCardPresentationText {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-block: 1em;
  padding-inline: 3em;
  font-size: 0.875rem;
}

.countryCardPresentationText a {
  position: relative;
}

.countryCardPresentationText a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--text);
  transform: scale(0);
  transform-origin: center;
  transition: transform 300ms;
}

.countryCardPresentationText a:hover::after,
.countryCardPresentationText a:focus::after {
  transform: scale(1);
}

.countryCardPresentationText header h2 {
  font-size: 1rem;
  font-stretch: expanded;
}

.countryCardPresentationText span {
  font-weight: 600;
}
