.text {
  background-color: var(--background-color);
  color: var(--text-color);
}

.main {
  margin-inline: var(--app-margin);
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
