@import "colors.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 100%;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
  fill: var(--fill);
}

button {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

main {
  margin-inline: var(--app-margin);
}
