.countryDetailsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  grid-template-areas:
    "image description "
    "image border";
  gap: 2em;
}

.countryDetailsImageContainer {
  grid-area: image;
  position: relative;
}

.countryDetailsImage {
  object-fit: contain;
}

.countryDetailsInfo {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 2em;
  line-height: 1.5rem;
  padding-block: 2em;
}

.countryDetailsInfoList {
  column-count: 2;
  column-gap: 2em;
}

.countryDetailsInfoList span {
  font-weight: 600;
}

@media only screen and (max-width: 64em) {
  .countryDetailsInfoList {
    column-count: unset;
    column-gap: unset;
  }
  .countryDetailsContainer {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(1em, 13em) auto auto;
    grid-template-areas:
      "image"
      "description"
      "border";
  }
}

.borderCountries {
  grid-area: border;
  display: flex;
  gap: 0.5em;
  align-items: center;
  flex-wrap: wrap;
}

.borderCountries h3 {
  font-size: 1rem;
}

.borderCountries ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.borderCountries li {
  position: relative;
  width: 8rem;
  padding-block: 1.5em;
  background-color: var(--elements);
  transition: all 300ms;
}

.borderCountries li:hover {
  background-color: var(--accent);
}

.borderCountries li a {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.backButton {
  display: grid;
  grid-template-columns: 20px 5px auto;
  margin-block: 3rem;
  padding-block: 0.8em;
  padding-inline: 2.2em;
  background-color: var(--elements);
  border-radius: var(--app-border-radius);
  transition: grid-template-columns 300ms, background-color 300ms;
}

.backButton span {
  grid-column: 3;
}

.backButton:hover {
  background-color: var(--accent);
  grid-template-columns: 15px 10px auto;
}

.backButton::before {
  content: "\2190";
  justify-self: end;
  padding-inline-end: 0.5em;
}
