.countryList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 4em;
}

.countryCard {
  background-color: var(--elements);
  border-radius: var(--app-border-radius);
}

.countryCardImage {
  aspect-ratio: 8/5;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: var(--app-border-radius);
  border-top-right-radius: var(--app-border-radius);
}

.countryCardPresentationText {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  font-size: 0.875rem;
}

.countryCardPresentationText span {
  font-weight: 600;
}

.countryCardPresentationText header h1 {
  font-size: 1rem;
}
